// Colours

$primary: rgb(17, 32, 44);
$secondary: rgb(28, 206, 123);
$secondary-light: rgb(144, 218, 183);
$signOut: rgb(149, 231, 193);
$default-white: rgb(255, 255, 255);
$default-black: rgb(0, 0, 0);
$grey: rgb(156, 156, 156);
